.centro{
    background-color: black;

    
}

body{background: gray;}

.lateral{
    background-color: gray;
    
}

.button{
    width: 75px;

    height: 75px;

    margin-left: 43px;

    margin-top: 20px;


}

.b2{
    

    

    margin-top: 20px;
}
